{% extends 'base.html' %}

{% block title %}Love Island{% endblock %}

{% block header %}
<div class="col-xs-12 col-md-4 col-md-offset-4">Love Island</div>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-4 col-md-offset-4">
<p>
  Who is going to win Love Island? Who cares? I do. Based on a sentiment analysis of #loveisland tweets over the past 24 hours, the current popularity of the couples is as follows.
</p>
  <table class="table">
    <tr>
      <th></th>
      <th>Couple</th>
      <th>Average sentiment</th>
    </tr>
    {% for score in couple_scores %}
    <tr>
      <td>
          {{ loop.index }}
      </td>
      <td>
          {{ score.pair }}
      </td>
      <td>
          {{ score.score }}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}