{% extends 'base.html' %}

{% block title %}Mood Grapher{% endblock %}

{% block header %}
  {% if not type %}
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      Mood Grapher 
    </div>
  {% else %}
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      Sentiment over the last 100 tweets for the {% if query.type == 'user_name' %}user @{% else %}hashtag #{% endif %}{{ query.param }}
    <div class="col-xs-12 col-md-4 col-md-offset-4">
  {% endif %}
{% endblock %}

{% block content %}

{% if not type %}
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <p>
          Track the 'mood' (sentiment) of a twitter user, or a hashtag over their past 100 tweets.
      </p>
      <form action="" method="POST">
        <div class="form-group">
          <label for="user_name" class="control-label">User name</label>
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input type="text" name="user_name" class="form-control" id="user_name">
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="type" value="user_name"/>
          <button type="submit" class="btn btn-default">Go!</button>
        </div>
      </form>

      <div class='hr-or'></div>

      <form action="" method="POST">
        <div class="form-group">
          <label for="hash_tag" class="control-label">Hashtag</label>
          <div class="input-group">
            <div class="input-group-addon">#</div>
            <input type="text" name="hash_tag" class="form-control" id="hash_tag">
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="type" value="hash_tag"/>
          <button type="submit" class="btn btn-default">Go!</button>
        </div>
      </form>

      <div class='hr-or'></div>

      <form action="" method="POST">
        <div class="form-group">
          <input type="hidden" name="type" value="random"/>
          <button type="submit" class="btn btn-default">Give me something RANDOM.</button>
        </div>
      </form>
    </div>


{% else %}

  <div class="col-xs-12 col-md-10 col-md-offset-1">
      <canvas id="line-chart" width="800" height="450"></canvas>
  </div>
  
  <script>
    window.scores = {{scores|tojson}}
  </script>

{% endif %}

{% endblock %}